[include]
    path = ~/.gitconfig.local
[push]
    default = simple
[alias]
    br = branch
    co = checkout
[core]
    excludesfile = ~/.gitignore_global
[user]
	email = t-ishida@ditect.co.jp
	name = t-ishida
